.card_spacer{
margin-top: 0%;
z-index: 100;
}

.red-color{
  background-color: #ffe2e5;
  color: #ac3643;
}

.orange-color{
  background-color: #fff4de;
  color: #ffa800;
}

.green-color{
  background-color: #c9f7f5;
  color: #1bc5bd;
}

.button-sq{
height: 70px;
min-height: 60px;
max-height: 160px;
width: 30%;
margin-left: 14%;
z-index: 100;
border-radius: 10px;
font-size: 16px;
font-weight: 600;
}

.card-p{
  margin: 0px;
  margin-top: 6px;
  font-size: 20px;
}

ion-card-title{
  font-size: 180% ;
}

.icon-card{
color: #fff;
font-size: 26px !important;
padding: 7px;
border-radius: 5px;
margin-right: 10px !important;
}

.card-no-border{
  box-shadow: none;
  border: none !important;
}

.about-info ion-list {
  padding-top: 0;
}

.about-info p {
  line-height: 130%;

  color: var(--ion-color-dark);
}

.about-info ion-icon {
  margin-inline-end: 32px;
}
/*
 * iOS Only
 */

.ios .about-info {
  --ion-padding: 19px;
}

.ios .about-info h3 {
  font-weight: 700;
}
